body {    
    margin: 0;
    padding: 0;
    background-image: url("../image/background.jpg");
}

.row{
	padding: 0px !important;
	margin: 0px !important;
}
.headerpage{
	height: 100px;
	margin-bottom: 10px;
	background-color: #cdd2d8;
	border-bottom: 1px solid #ccd5e5;
}

.bodypage{
	width: 95%;
	height: 500px;
	margin: auto;
	background-color: white;
}

.footerpage{
	border-top: 1px solid black;
}

.imageHead{
	width: 70px;
	height: 70px;
	position: absolute;
	left: 50%;
}

.menu{
box-shadow: 1px 1px;
padding: 0px;
height: 500px;
}

.containermenu{
}

.containermenu ul{
	list-style: none;
}

.headermenu{
	height: 30px;
	border-bottom: 1px solid #878f9b;
	background-color: #a7b7ce;
	box-shadow: 1px 1px;
}

a{
	text-decoration: none !important; 
}

a:hover{
	color: red;
}
.hident{
	display: none;
}

.center-h{
	padding: 0;
	text-align: center;
	margin: 0;
	line-height: 30px;
}

/*item menu*/

.itemMenu{
	font-size: 20;
	padding-left: 0;
}

.itemMenu li a{
	width: 100%;
	display: block;
	padding-left: 10px;
}

.itemMenu li a:hover{
	background-color: yellow;
}

.hident{
	font-size: 15;
	padding-left: 10px;
}

/*header line*/
.contentHeader{
	width: 95%;
  	margin: auto;
  	height: 30px;
  	/*background-color: #e3ecf9;*/
}

.line-menu-Header{
	list-style: none;
}

.line-menu-Header li{
	float: right;
}

.line-menu-Header li a{
	display: block;
	position: relative;
	padding: 5px 10px;
	line-height: 15px;
}

.hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}

/**/
#slider{
	padding: 0 !important;
}



.contentBody{
	margin-top: 5px;
}